In [2]:
from Classification.components.data_prediction import Data_Prediciton
from Classification.pipeline import DataIngestionPipeline
import pandas as pd
df = DataIngestionPipeline().main()
df1 = pd.DataFrame([df.iloc[0]], columns=df.columns)
df1['Age']=10
df1.drop(columns=['CustomerID'], inplace=True)
an = Data_Prediciton(df1).validate_input(df1,False)

[2023-08-14 16:26:20,687: INFO: configuration: Reading Params file params.yaml]
[2023-08-14 16:26:20,690: INFO: common: yaml file: params.yaml loaded successfully]
[2023-08-14 16:26:20,775: INFO: data_ingestion: Reading Dataset: Successful]
[2023-08-14 16:26:20,778: INFO: configuration: Reading Params file params.yaml]
[2023-08-14 16:26:20,781: INFO: common: yaml file: params.yaml loaded successfully]
[2023-08-14 16:26:20,845: INFO: data_prediction: Index(['Numeric features:Age', 'Numeric features:Tenure',
       'Numeric features:UsageFrequency', 'Numeric features:SupportCalls',
       'Numeric features:PaymentDelay', 'Numeric features:TotalSpend',
       'Numeric features:LastInteraction', 'Numeric features:Churn'],
      dtype='object')]
[2023-08-14 16:26:20,846: INFO: data_prediction: Index(['Cat features:Gender', 'Cat features:SubscriptionType',
       'Cat features:ContractLength'],
      dtype='object')]
[2023-08-14 16:26:20,899: INFO: data_prediction: feature: Gender]
[2023-08-14 16:26:20,917: INFO: data_prediction: feature: SubscriptionType]
[2023-08-14 16:26:20,938: INFO: data_prediction: feature: ContractLength]

In [9]:
n = pd.concat([df,df1],ignore_index=True)

In [10]:
n.tail()

,CustomerID,Age,Gender,Tenure,UsageFrequency,SupportCalls,PaymentDelay,SubscriptionType,ContractLength,TotalSpend,LastInteraction,Churn
64370,64371.0,37,Male,6,1,5,22,Standard,Annual,923,9,1
64371,64372.0,25,Male,39,14,8,30,Premium,Monthly,327,20,1
64372,64373.0,50,Female,18,19,7,22,Standard,Monthly,540,13,1
64373,64374.0,52,Female,45,15,9,25,Standard,Monthly,696,22,1
64374,NaN,10,Female,25,14,4,27,Basic,Monthly,598,9,1

In [5]:
df['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [2]:
an

['Age', 'Gender', 'SubscriptionType', 'ContractLength']

In [16]:
j='Gender'
df['Gender'].str.contains(df1['Gender'][0]).any()
#.str.contains(df1['Gender'])

True

In [8]:
df1

,Age,Gender,Tenure,UsageFrequency,SupportCalls,PaymentDelay,SubscriptionType,ContractLength,TotalSpend,LastInteraction,Churn
0,22,Female,25,14,4,27,Basic,Monthly,598,9,1

In [3]:
from Classification.config import configuration
n=configuration.ConfigurationManager().get_data_ingestion_config().data_file_path

[2023-08-14 14:51:11,380: INFO: configuration: Reading Params file params.yaml]
[2023-08-14 14:51:11,382: INFO: common: yaml file: params.yaml loaded successfully]

In [4]:
n

'Files\\Input_files\\customer_churn.csv'

In [ ]:
from sklearn.model_selection import train_test_split
X=df.drop(columns=['Churn'], axis=1)
y=df['Churn']
X_train, X_test, y_train, y_test =  train_test_split(X,y,test_size=0.3, random_state=42,shuffle=True)

In [ ]:
df1 = DataIngestionPipeline.main()
num_feat= df.select

In [ ]:
x=X_test.iloc[0].to_frame()
Model.feature_names_in_

In [ ]:
import joblib
import os
from Classification.constants import Model_path
Model=joblib.load(os.path.join(Model_path,"Model.pkl"))
Model.predict(x.T)
#df.iloc[0]

In [ ]:
import joblib, os
from Classification.components import data_prediction
from Classification.pipeline import DataIngestionPipeline, ModelPredictPipeline
from Classification.constants import Model_path
model = joblib.load(os.path.join(Model_path,"Model.pkl"))

In [ ]:
model.feature_names_in_

In [ ]:

from sklearn.linear_model import LogisticRegression
a = 'LogisticRegression'
modle = globals().get(a)
modle.fit()